.js-loading {
    width: 100px;
    height: 100px;
    border-radius: 500px;
  /*   background-color: #f40; */
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    animation: loading 2s linear infinite;
  }
  .js-loading span {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #fff;
  }
  .js-loading span:nth-child(1) {
    top: 0;
    left: 0;
  }
  .js-loading span:nth-child(2) {
    top: calc(50% - 5px);
    left: 0;
  }
  .js-loading span:nth-child(3) {
    bottom: 0;
    left: 0;
  }
  .js-loading span:nth-child(4) {
    top: 0;
    left: calc(50% - 5px);
  }
  .js-loading span:nth-child(5) {
    top: 0;
    right: 0;
  }
  .js-loading span:nth-child(6) {
    top: calc(50% - 5px);
    right: 0;
  }
  .js-loading span:nth-child(7) {
    bottom: 0;
    right: 0;
  }
  .js-loading span:nth-child(8) {
    bottom: 0;
    right: calc(50% - 5px);
  }
  
  .inner-loading {
    width: 50px;
    height: 50px;
  /*   background-color: #fff; */
    margin: 0 auto;
    margin-top: 25px;
    position: relative;
    animation: loading-inner 1s linear infinite;
  }
  
  @keyframes loading {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @keyframes loading-inner {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
  }

  @keyframes arrow-spin {
    100% {
      transform: rotate(179deg);
    }
  }
  
  @-webkit-keyframes arrow-spin {
    100% {
      -webkit-transform: rotate(179deg);
    }
  }
  

  @keyframes waver {
    0% {
      border-radius: 2px;
    }
    100% {
      border-radius: 20px;
    }
  }
  *, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  /* h3 {
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
  }
   */
  .loading {
    text-align: center;
    font-size: 0.8em;
    position: relative;

    /* margin: auto; */
    width: 200px;
    height: 50px;
  }
  
  .loader, .loader::before, .loader::after {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: solid 3px transparent;
  }
  
  .loader {
    border-bottom-color: #f6f6f6;
    margin: auto;
    margin-bottom: 0px;
    text-align: center;
    animation: waver 1s infinite alternate ease-in-out;
    position: relative;
  }
  
  .loader::before,
  .loader::after {
    content: '';
    display: block;
    position: absolute;
  }
  
  .loader::before {
    border-bottom-color: #f6f6f6;
    left: -28px;
    top: -3px;
    animation: waver 1s infinite alternate ease-in-out;
  }
  
  .loader::after {
    border-bottom-color: #f6f6f6;
    left: 23px;
    top: -3px;
    animation: waver 1s infinite alternate ease-in-out;
  }